<div class="card" style="background-color: beige">
  <h1>Welcome to <span style="color: purple">Moovi<span style="color: black">Scope</span>!</span></h1>
  <p>Choose from the options what you would like to do!</p>
</div>


<%# Add 3 cards in here with the different user journeys %>
